body {
  /* background-color: #312018; */
  background-color: black;
  color: #ff9729;
  font-family: "LED-Dot-Matrix";

}

.frame {
  border: 10px solid black;
  height: 80vh;
  width: 50vw;
}

.departure-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  background-color: #101010;
  /* padding: 4px; */
}

.train-row {
  display: grid;
  grid-template-columns: 100px 500px;
  font-size: 24px;
  background-color: #101010;
  padding: 4px;
}

.event {
  padding-top: 3px;
}